<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javaniuniu.generator.dao.MemberMapper">
  <resultMap id="BaseResultMap" type="com.javaniuniu.generator.domain.Member">
    <id column="memberId" jdbcType="BIGINT" property="memberid" />
    <result column="acceptanceRate" jdbcType="DOUBLE" property="acceptancerate" />
    <result column="acceptedSubmission" jdbcType="INTEGER" property="acceptedsubmission" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="cnUrl" jdbcType="VARCHAR" property="cnurl" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="enUrl" jdbcType="VARCHAR" property="enurl" />
    <result column="gmt_create" jdbcType="VARCHAR" property="gmtCreate" />
    <result column="gmt_modified" jdbcType="VARCHAR" property="gmtModified" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="solvedQuestion" jdbcType="INTEGER" property="solvedquestion" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="submissionCount" jdbcType="INTEGER" property="submissioncount" />
    <result column="totalChecked" jdbcType="INTEGER" property="totalchecked" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="website" jdbcType="VARCHAR" property="website" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    memberId, acceptanceRate, acceptedSubmission, address, avatar, cnUrl, `date`, enUrl, 
    gmt_create, gmt_modified, platform, solvedQuestion, `status`, submissionCount, totalChecked, 
    username, website
  </sql>
  <select id="selectByExample" parameterType="com.javaniuniu.generator.domain.MemberExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from Member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    select
    <if test="example != null and example.distinct">
      distinct
    </if>
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from Member
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from Member
    where memberId = #{memberid,jdbcType=BIGINT}
  </select>
  <select id="selectByPrimaryKeySelective" parameterType="map" resultMap="BaseResultMap">
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from Member
    where memberId = #{memberid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from Member
    where memberId = #{memberid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.javaniuniu.generator.domain.MemberExample">
    delete from Member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.javaniuniu.generator.domain.Member">
    <selectKey keyProperty="memberid" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Member (acceptanceRate, acceptedSubmission, 
      address, avatar, cnUrl, 
      `date`, enUrl, gmt_create, 
      gmt_modified, platform, solvedQuestion, 
      `status`, submissionCount, totalChecked, 
      username, website)
    values (#{acceptancerate,jdbcType=DOUBLE}, #{acceptedsubmission,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{avatar,jdbcType=VARCHAR}, #{cnurl,jdbcType=VARCHAR}, 
      #{date,jdbcType=VARCHAR}, #{enurl,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=VARCHAR}, 
      #{gmtModified,jdbcType=VARCHAR}, #{platform,jdbcType=VARCHAR}, #{solvedquestion,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{submissioncount,jdbcType=INTEGER}, #{totalchecked,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{website,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.javaniuniu.generator.domain.Member">
    <selectKey keyProperty="memberid" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into Member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="acceptancerate != null">
        acceptanceRate,
      </if>
      <if test="acceptedsubmission != null">
        acceptedSubmission,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="cnurl != null">
        cnUrl,
      </if>
      <if test="date != null">
        `date`,
      </if>
      <if test="enurl != null">
        enUrl,
      </if>
      <if test="gmtCreate != null">
        gmt_create,
      </if>
      <if test="gmtModified != null">
        gmt_modified,
      </if>
      <if test="platform != null">
        platform,
      </if>
      <if test="solvedquestion != null">
        solvedQuestion,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="submissioncount != null">
        submissionCount,
      </if>
      <if test="totalchecked != null">
        totalChecked,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="website != null">
        website,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="acceptancerate != null">
        #{acceptancerate,jdbcType=DOUBLE},
      </if>
      <if test="acceptedsubmission != null">
        #{acceptedsubmission,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="cnurl != null">
        #{cnurl,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="enurl != null">
        #{enurl,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        #{gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=VARCHAR},
      </if>
      <if test="solvedquestion != null">
        #{solvedquestion,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="submissioncount != null">
        #{submissioncount,jdbcType=INTEGER},
      </if>
      <if test="totalchecked != null">
        #{totalchecked,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        #{website,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.javaniuniu.generator.domain.MemberExample" resultType="java.lang.Long">
    select count(*) from Member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update Member
    <set>
      <if test="record.memberid != null">
        memberId = #{record.memberid,jdbcType=BIGINT},
      </if>
      <if test="record.acceptancerate != null">
        acceptanceRate = #{record.acceptancerate,jdbcType=DOUBLE},
      </if>
      <if test="record.acceptedsubmission != null">
        acceptedSubmission = #{record.acceptedsubmission,jdbcType=INTEGER},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=VARCHAR},
      </if>
      <if test="record.avatar != null">
        avatar = #{record.avatar,jdbcType=VARCHAR},
      </if>
      <if test="record.cnurl != null">
        cnUrl = #{record.cnurl,jdbcType=VARCHAR},
      </if>
      <if test="record.date != null">
        `date` = #{record.date,jdbcType=VARCHAR},
      </if>
      <if test="record.enurl != null">
        enUrl = #{record.enurl,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtCreate != null">
        gmt_create = #{record.gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="record.gmtModified != null">
        gmt_modified = #{record.gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="record.platform != null">
        platform = #{record.platform,jdbcType=VARCHAR},
      </if>
      <if test="record.solvedquestion != null">
        solvedQuestion = #{record.solvedquestion,jdbcType=INTEGER},
      </if>
      <if test="record.status != null">
        `status` = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.submissioncount != null">
        submissionCount = #{record.submissioncount,jdbcType=INTEGER},
      </if>
      <if test="record.totalchecked != null">
        totalChecked = #{record.totalchecked,jdbcType=INTEGER},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.website != null">
        website = #{record.website,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update Member
    set memberId = #{record.memberid,jdbcType=BIGINT},
      acceptanceRate = #{record.acceptancerate,jdbcType=DOUBLE},
      acceptedSubmission = #{record.acceptedsubmission,jdbcType=INTEGER},
      address = #{record.address,jdbcType=VARCHAR},
      avatar = #{record.avatar,jdbcType=VARCHAR},
      cnUrl = #{record.cnurl,jdbcType=VARCHAR},
      `date` = #{record.date,jdbcType=VARCHAR},
      enUrl = #{record.enurl,jdbcType=VARCHAR},
      gmt_create = #{record.gmtCreate,jdbcType=VARCHAR},
      gmt_modified = #{record.gmtModified,jdbcType=VARCHAR},
      platform = #{record.platform,jdbcType=VARCHAR},
      solvedQuestion = #{record.solvedquestion,jdbcType=INTEGER},
      `status` = #{record.status,jdbcType=INTEGER},
      submissionCount = #{record.submissioncount,jdbcType=INTEGER},
      totalChecked = #{record.totalchecked,jdbcType=INTEGER},
      username = #{record.username,jdbcType=VARCHAR},
      website = #{record.website,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.javaniuniu.generator.domain.Member">
    update Member
    <set>
      <if test="acceptancerate != null">
        acceptanceRate = #{acceptancerate,jdbcType=DOUBLE},
      </if>
      <if test="acceptedsubmission != null">
        acceptedSubmission = #{acceptedsubmission,jdbcType=INTEGER},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        avatar = #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="cnurl != null">
        cnUrl = #{cnurl,jdbcType=VARCHAR},
      </if>
      <if test="date != null">
        `date` = #{date,jdbcType=VARCHAR},
      </if>
      <if test="enurl != null">
        enUrl = #{enurl,jdbcType=VARCHAR},
      </if>
      <if test="gmtCreate != null">
        gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      </if>
      <if test="gmtModified != null">
        gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=VARCHAR},
      </if>
      <if test="solvedquestion != null">
        solvedQuestion = #{solvedquestion,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="submissioncount != null">
        submissionCount = #{submissioncount,jdbcType=INTEGER},
      </if>
      <if test="totalchecked != null">
        totalChecked = #{totalchecked,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="website != null">
        website = #{website,jdbcType=VARCHAR},
      </if>
    </set>
    where memberId = #{memberid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.javaniuniu.generator.domain.Member">
    update Member
    set acceptanceRate = #{acceptancerate,jdbcType=DOUBLE},
      acceptedSubmission = #{acceptedsubmission,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      avatar = #{avatar,jdbcType=VARCHAR},
      cnUrl = #{cnurl,jdbcType=VARCHAR},
      `date` = #{date,jdbcType=VARCHAR},
      enUrl = #{enurl,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=VARCHAR},
      gmt_modified = #{gmtModified,jdbcType=VARCHAR},
      platform = #{platform,jdbcType=VARCHAR},
      solvedQuestion = #{solvedquestion,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      submissionCount = #{submissioncount,jdbcType=INTEGER},
      totalChecked = #{totalchecked,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      website = #{website,jdbcType=VARCHAR}
    where memberId = #{memberid,jdbcType=BIGINT}
  </update>
  <select id="selectOneByExample" parameterType="com.javaniuniu.generator.domain.MemberExample" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from Member
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    limit 1
  </select>
  <select id="selectOneByExampleSelective" parameterType="map" resultMap="BaseResultMap">
    select
    <choose>
      <when test="selective != null and selective.length > 0">
        <foreach collection="selective" item="column" separator=",">
          ${column.aliasedEscapedColumnName}
        </foreach>
      </when>
      <otherwise>
        <include refid="Base_Column_List" />
      </otherwise>
    </choose>
    from Member
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example != null and example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit 1
  </select>
</mapper>